---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardPost from "../components/CardPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h1>Bienvenid@s a mi blog</h1>
        <h2>Aquí comentaré todo mi proceso en el desarrollo web.</h2>
    </section>
    <section class="flex flex-col gap-8">
        {allPosts.slice(0, 3).map((post) => <CardPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate} readingTime={post.frontmatter.readingTime} description={post.frontmatter.description} author={post.frontmatter.author} image={post.frontmatter.image} tags={post.frontmatter.tags}/>)}
        <div>
            <a href="blog">Ver todos los posts →</a>
        </div>
    </section>
</BaseLayout>