---
const { title, url, date, readingTime, description, author, image, tags} = Astro.props;
---

<a href={url} class="no-underline">
    <div class="card">
        <div class="">
            <div class="">
                <p>{date}</p>
                <p>Tiempo de lectura: {readingTime}</p>
                <p>{author}</p>
                <img src={image.url} alt={image.alt}>
            </div>
            <p class="">{title}</p>
            <div class="">
                {tags.map(tag => (<span>{tag}</span>))}
            </div>
            <p class="">{description}</p>
        </div>
        <p class="">Leer más →</p>
    </div>
</a>

<style>
    a {
        text-decoration: none;
    }

    .card{
        width: 100%;
        outline: 1px solid white;
        border-radius: 10px;
        padding: 2rem;
    }
</style>