---
const { title, url, date, readingTime, description, author, image, tags } =
    Astro.props;
---

<article class="card">
    <header class="card-header">
        <p>Fecha: {date}</p>
        <p>Tiempo de lectura: {readingTime}</p>
        <p>Autor: {author}</p>
        <figure class="card-image">
            <img src={image.url} alt={image.alt} />
        </figure>
    </header>
    <h3>{title}</h3>
    <div class="tags">
        {
            tags.map((tag) => (
                <a
                    href={`/tags/${tag}`}
                    class="tag"
                    title="Ver publicaciones con la etiqueta '{tag}'"
                >
                    {tag}
                </a>
            ))
        }
    </div>
    <p class="card-description">{description}</p>
    <footer class="card-footer">
        <a href={url} title="Leer el artículo completo">Leer más →</a>
    </footer>
</article>

<style>
    @import url(../styles/global.css);

    .card {
        background-color: var(--background);
        border: 1px solid var(--border-a);
        border-radius: 10px;
        box-shadow: 0 4px 15px var(--box-shadow);
        overflow: hidden;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
        padding: 2rem;
        color: var(--text-color);
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 30px var(--box-shadow);
    }

    img {
        width: 100%;
    }
</style>
